.marker-panel {
  width: 300px;
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.marker-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
}

.marker-content {
  padding: 10px;
  overflow-y: auto;
}



.marker-list {
  list-style: none;
  padding: 0;
}

.marker-list-item {
  padding: 5px 0;
}
