.marker-panel {
  width: 300px;
  height: 91vh; /* Займет всю высоту окна браузера */
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Добавляет прокрутку, если контент выходит за границы */
}

.marker-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
  position: sticky; /* Заголовок будет фиксирован при прокрутке */
  top: 0;
  z-index: 10; /* Чтобы оставаться поверх прокручиваемого контента */
}

.marker-content {
  padding: 10px;
}

.marker-list {
  list-style: none;
  padding: 0;
}

.marker-list-item {
  padding: 5px 0;
}