.stats-modal {
  position: absolute; /* Позиционирование относительно ближайшего родителя с position: relative */
  top: 5%;
  left: 20%;
  background-color: #34495e;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 1000px;
  height: 80vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow-y: auto;
  font-size: 14px;
}

.stats-title {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.stats-content {
  margin: 15px 0;
}

.stats-content ul {
  list-style: none;
  padding: 0;
}

.stats-content li {
  margin-bottom: 10px;
}

.stats-close-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.stats-close-button:hover {
  background-color: #c0392b;
}
